{{ "<!-- Contact Section -->" | safeHTML }}
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .params.contact.title }}{{ . | markdownify }}{{ end }}</h2>
            </div>
            <div class="col-lg-12">
                <h3 class="section-subheading text-muted">{{ with .params.contact.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
            <div class="col-lg-6 text-center">
                {{ range .params.contact.studios }}
                <p class="text-muted">{{ .location }}</h3>
                {{ if .details }}
                <p class="text-muted">{{ .details }}</h3>
                {{ end }}
                {{ end }}
                <p class="text-muted">{{ .params.contact.emailInfo }}</h3>
                <p class="text-muted">{{ .params.contact.handy }}</h3>
            </div>
            <div class="col-lg-6 text-center">
                <img class="logo" src="/img/kraftwerk_logo_cropped.png"></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <form  action="//formspree.io/{{ with .params.email }}{{.}}{{ end }}" method="POST" name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{ with .params.contact.form.name.text }}{{ .  | markdownify }}{{ end }}" name="name" required data-validation-required-message="{{ with .params.contact.form.name.warning }}{{ . | markdownify}}{{ end }}">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="{{ with .params.contact.form.email.text }}{{ . | markdownify }}{{ end }}" name="email" required data-validation-required-message="{{ with .params.contact.form.email.warning }}{{ . | markdownify }}{{ end }}">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="{{ with .params.contact.form.phone.text }}{{ . | markdownify }}{{ end }}" name="phone" required data-validation-required-message="{{ with .params.contact.form.phone.warning }}{{ . | markdownify }}{{ end }}">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" placeholder="{{ with .params.contact.form.message.text }}{{ . | markdownify }}{{ end }}" name="message" required data-validation-required-message="{{ with .params.contact.form.message.warning }}{{ . | markdownify }}{{ end }}"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="text-center">
                            <div id="success"></div>
                            <div class="form-group">
                              <button type="submit" class="btn btn-xl">{{ with .params.contact.buttonText }}{{ . | markdownify }}{{ end }}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-lg-6 col-md-12 text-center">
              <div style="overflow:hidden;height:100%;width:100%;">
                <div id="gmap_canvas"></div>
              </div>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript" src="//maps.google.com/maps/api/js?key=AIzaSyAvoowsGqAcV_ywGwiGtbaHCvjq_Mz0opM"></script>
<script type="text/javascript">
function init_map() {
  var myOptions = {zoom:14,center:new google.maps.LatLng(52.52386,13.409200000000055), mapTypeId: google.maps.MapTypeId.ROADMAP};
  map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
  marker = new google.maps.Marker({map: map,position: new google.maps.LatLng(52.52386, 13.409200000000055)});
  infowindow = new google.maps.InfoWindow({content:"<b>Kraftwerk Berlin</b><br/>Rosa-Luxemburg-Stra&szlig;e 7<br/> Berlin 10178" });
  google.maps.event.addListener(marker, "click", function() {
    infowindow.open(map,marker);
  });
  infowindow.open(map,marker);

  chaussee = new google.maps.Marker({map: map,position: new google.maps.LatLng(52.5318166, 13.381199299999935)});
  chausseeInfo = new google.maps.InfoWindow({content:"<b>Kraftwerk Berlin</b><br/>Chausseestra&szlig;e 105<br/>Berlin 10115<br/> " });
  google.maps.event.addListener(chaussee, "click", function() {
    chausseeInfo.open(map,chaussee);
  });
  chausseeInfo.open(map,chaussee);
}
google.maps.event.addDomListener(window, 'load', init_map);
</script>
