{{ "<!-- Footer section -->" | safeHTML }}
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">{{ with .params.footer.copyright }}{{ . | markdownify }}{{ end }}</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    {{ range .params.footer.social }}
                    <li><a href="{{ .link }}"><i class="fa {{ .icon }}"></i></a></li>
                    {{ end }}
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    {{ range .params.footer.quicklinks }}
                    <li><a href="{{ .link }}">{{ .text  | markdownify }}</a></li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</footer>
