{{ "<!-- Hero -->" | safeHTML }}
<header>
    <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">{{ with .params.hero.title }} {{ . | markdownify }}{{ end }}</div>
            <div class="intro-heading">{{ with .params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
            <a href="#services" class="page-scroll btn btn-xl">{{ with .params.hero.buttonText }}{{ . | markdownify }}{{ end }}</a>
        </div>
    </div>
</header>
{{ "<!-- Services Section -->" | safeHTML }}
