{{ "<!-- Portfolio Modals -->" | safeHTML }}
{{ range .data.projects }}
<div class="portfolio-modal modal fade" id="portfolioModal{{ .modalID }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>{{ .title  | markdownify }}</h2>
                        <p class="item-intro text-muted">{{ .subtitle | markdownify }}</p>
                        <img class="img-responsive img-centered" src="/img/portfolio/{{ .img }}" alt="">
                        <p>{{ .description | markdownify }}</p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> {{ with $.params.portfolio.modal.buttonText }}{{ . | markdownify }}{{ end }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}
