{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll js-brand-large" href="#page-top">{{ with .params.navigation.brand.large }}{{ . | markdownify }}{{ end }}</a>
            <a class="navbar-brand page-scroll js-brand-small hidden" href="#page-top">{{ with .params.navigation.brand.small }}{{ . | markdownify }}{{ end }}</a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>

                {{ range .menus.prepend }}
                <li>
                    <a href="{{ .URL }}">{{ .Name | markdownify }}</a>
                </li>
                {{ end }}

                {{ if .params.services.enable }}
                <li>
                    <a class="page-scroll" href="#services">{{ with .params.navigation.services }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}

                {{ if .params.about.enable }}
                <li>
                    <a class="page-scroll" href="#about">{{ with .params.navigation.about }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}

                {{ if .params.portfolio.enable }}
                <li>
                    <a class="page-scroll" href="#portfolio">{{ with .params.navigation.portfolio }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}

                {{ if .params.team.enable }}
                <li>
                    <a class="page-scroll" href="#team">{{ with .params.navigation.team }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}

                {{ if .params.contact.enable }}
                <li>
                    <a class="page-scroll" href="#contact">{{ with .params.navigation.contact }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}

                {{ range .menus.postpend }}
                <li>
                    <a href="{{ .URL }}">{{ .Name | markdownify }}</a>
                </li>
                {{ end }}

                {{ with .params.flag }}
                <li>
                  <a href="{{ .url }}"><img class="flag" alt="{{ .alt_text }}" src="/img/{{ .img }}" /></a>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
