{{ "<!-- Portfolio Grid Section -->" | safeHTML }}
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .params.portfolio.title }}{{ . | markdownify }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .params.portfolio.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>
        <div class="row">
            {{ range .data.projects }}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal{{ .modalID }}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="/img/portfolio/{{ .preview }}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{ .title | markdownify }}</h4>
                    <p class="text-muted">{{ .category | markdownify }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
