{{ "<!-- Services -->" | safeHTML }}
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .params.services.title }}{{ . }}{{ end }}</h2>
                <h3 class="section-subheading text-muted">{{ with .params.services.subtitle }}{{ . | markdownify }}{{ end }}</h3>
            </div>
        </div>

        {{ range .params.services.row }}
        <div class="row text-center">
            {{ range $i, $e := .list }}
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    {{ if (not (modBool $i 2)) }}
                      <i class="fa {{ .icon }} fa-stack-2x discover-icon"></i>
                    {{ else }}
                      <i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i>
                    {{ end }}
                </span>
                <h4 class="service-heading">{{ .title | markdownify }}</h4>
                <p class="text-muted">{{ .description | markdownify }}</p>
            </div>
            {{ end }}
        </div>
        {{ end }}

    </div>
</section>
