{{ "<!-- Team Section -->" | safeHTML }}
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ with .params.team.title }}{{ . | markdownify }}{{ end }}</h2>
            </div>
        </div>
        <div class="row">
            {{ range .params.team.members }}
            <div class="col-sm-12">
                <div class="team-member">
                    <img src="/img/{{ .img }}" class="img-responsive img-circle" alt="">
                    <h4>{{ .name | markdownify }}</h4>
                    <p class="text-muted">{{ .position | markdownify }}</p>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p class="large text-muted">{{ with .params.team.description }}{{ . | markdownify }}{{ end }}</p>
            </div>
        </div>
    </div>
</section>
