<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
<head>
    {{ partial "head.html" . }}
</head>
    <body>
      <div style="margin: 1em; text-align: center">
        <img style="max-width: 120px" src="/img/physio_x_logo.jpg">
        <p>Lukas Llewellyn Hinds-Johnson</p>
        <p>
        Orthopädisch Manuelle Physiotherapie<br>
        nach IFOMPT Standard<br>
        sektoraler Heilpraktiker PT
        </p>
        <p>
        Max-Beer-Straße 35<br>
        10119 Berlin
        </p>
        <a href="mailto:physioxberlin@gmail.com">physioxberlin@gmail.com</a>
        <p>+49176/96777195</p>
      </div>
    </body>
</html>
